DEBUG=
ALLOWED_HOSTS=
SECRET_KEY=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

REDIS_URL=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=